* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

p {
  color: white;
}

a {
  color: #258bff;
  text-decoration: none;
}

footer {
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 12px;
}

.patch_notes {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  font-size: 12px;
}

.container {
  width: 100%;
  height: 100%;
  background: #0b0b0c;
}

.banner img {
  margin-top: 30px;
}

.description {
  margin-top: 10px;
}

.trailer {
  margin-top: 50px;
  margin-left: 450px;
}

.downloads {
  margin-left: 28cm;
  margin-top: -8.25cm;
}
