* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
}

p {
  color: white;
}

a {
  color: #258bff;
  text-decoration: none;
}

footer {
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: 12px;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: #0b0b0b;
}

.container > div {
  flex: 1;
}

.vertical-line {
  border-left: 2px solid white;
  height: 95%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.uptownblock {
  background-image: url("assets/uptownblock.png");
  filter: blur(15px);
  -webkit-filter: blur(15px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rocpp {
  background-image: url("assets/rocpp.png");
  filter: blur(15px);
  -webkit-filter: blur(15px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}