* {
    box-sizing: border-box;
  }
  
  body {
    color: white;
    background: #0b0b0c;
    font-family: Roboto;
  }
  
  p:last-child {
    margin-bottom: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background: #101011;
    padding: 1em;
    margin-bottom: 1em;
  }
  
  h3 {
    margin-top: 0;
    font-size: 2em;
    color: #303030;
  }
  
  strong {
    color: #ffd28a;
    font-size: 24px;
  }

  small {
    float: right;
    margin-top: -10px;
    opacity: 10%;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #101011;
  }
  ::-webkit-scrollbar-thumb:hover {
    background:#1d1d1d;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #303030;
  }
  