* {
  box-sizing: border-box;
}

body {
  color: white;
  background: #0b0b0c;
  font-family: Roboto;
}

p:last-child {
  margin-bottom: 0;
  display: inline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background: #101011;
  padding: 1em;
  margin-bottom: 1em;
}

h3 {
  margin-top: 0;
  font-size: 2em;
  color: #ffd28a;
}

a {
  color: #258bff;
  text-decoration: none;
}

.banner {
  margin-right: 10px;
  text-align: center;
  float: right;
}

.document {
  margin-left: 10px;
  margin-top: 20px;
}

.square {
  height: 256px;
  width: 256px;
  background-color: black;
  margin-left: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #101011;
}
::-webkit-scrollbar-thumb:hover {
  background: #1d1d1d;
}
::-webkit-scrollbar-thumb:active {
  background: #303030;
}
